* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, sans-serif;
    overflow-x: hidden;
}

nav {
    height: 80px;
    width: 100%;
    background: #151515;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    z-index: 10;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
        rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

nav .logo>img {
    width: 220px;
}

nav ul {
    display: flex;
    list-style: none;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-weight: 800;
    letter-spacing: 1px;
    padding: 8px 10px;
    border-radius: 5px;
    transition: all 0.3s ease;
    overflow: hidden;
}

nav ul li {
    margin: 0px 5px;
    padding: 10px;
}

nav ul li a:hover,
nav ul li a.active,
nav ul li a:focus {
    color: rgb(9, 8, 8);
    color: #7371f9;
}

nav .menu-btn img {
    color: white;
    font-size: 22px;
    cursor: pointer;
    display: none;
    width: 40%;
    overflow: hidden;
}

nav .menu-btn {
    height: 100%;
    display: flex;
    align-items: center;
}

#click {
    display: none;
}

@media (max-width: 950px) {

    nav .menu-btn img {
        display: block;
        position: relative;
    }

    nav .menu-btn {
        width: 20%;
        justify-content: center;
    }

    nav .logo img {
        margin: 0px;
        padding: 0px;
    }

    nav ul {
        position: fixed;
        top: 80px;
        left: -100%;
        background:#6361fa;
        height: 100vh;
        width: 100%;
        display: block;
        text-align: center;
        transition: all 0.5s ease;
        overflow: hidden;
    }

    #click:checked~ul {
        left: 0%;
    }

    nav ul li {
        margin: 40px 0px;
    }

    nav ul li a {
        font-size: 20px;
        display: block;
    }

    nav ul li a:hover,
    nav ul li a.active {
        color: white;
        background: none;
    }

    nav .menu-btn i {
        color: white;
        font-size: 22px;
        cursor: pointer;
        display: block;
    }

}

@media (max-width: 500px) {
    .logo {
        margin-left: -40px;
    }
}

/* Homepage */

#home {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-image: url(../Portfolio/images/hero-bg-dark.jpg);
}

#image {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 3%;
}

#image>img {
    width: 50%;
}

#home-content {
    text-align: center;
    padding: 2%;
}

#home-content h2 {
    color: white;
}

#home-content h1 {
    font-size: 80px;
    color: white;
    margin: 2% 0;
}

#home-content span {
    color: #7371f9;
}

#home-content>p {
    margin: 20px;
    font-size: x-large;
    color: #b0aac0;
}

#home-content a {
    text-decoration: none;
    color: white;
}

#home-content>button {
    padding: 15px 30px;
    margin: 20px;
    font-size: medium;
    border-radius: 5px;
    cursor: pointer;
    background-color: #7371f9;
    border: none;
    font-weight: 800;
}

#home-content>button:hover {
    color: #ededf7;
}

@media (max-width:940px) {
    #home {
        padding-top: 80px;
    }

    #home>div {
        width: 90%;
        padding-top: 0px;
        margin: auto;
    }


    #home-content h2 {
        color: white;
    }

    #home-content h1 {
        font-size: 80px;
        color: white;
        margin: 2% 0;
    }

    #home-content span {
        color: #7371f9;
    }

    #home-content>p {
        margin: 20px;
        font-size: x-large;
        color: #b0aac0;
    }
}

@media (max-width:650px) {
    #image img {
        margin-top: 30px;
    }

    #home {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        justify-content: center;
        padding-top: 70px;
        height: auto
    }

    #home>div {
        width: 100%;
        padding-top: 0px;
        margin: auto;
    }


    #home-content {
        padding: 0;
    }

    #home-content h2 {
        color: white;
        margin-top: 25px;
    }

    #home-content h1 {
        font-size: 50px;
        color: white;
        margin: 2% 0;
    }

    #home-content span {
        color: #7371f9;
    }

    #home-content>p {
        margin: 20px;
        font-size: x-large;
        color: #b0aac0;
    }
}

#about {
    background-color: #2a2a2a;
}

#about>div {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 10%;
}

#about-img {
    width: 100%;
    position: relative;
}

/* 
.rectangle {
    position: absolute;
    top: -10%;
    right: 70%;
    width: 100%;
    height: 100%;
    background-color:#7371f9;
    border-radius: 5%;
}  */

#about-img img {
    position: relative;
    width: 65%;
    border-radius: 5%;
}

#about-content {
    width: 100%;
    height: auto;
    padding: 10% 0;
}

#about-content h3 {
    color: #7371f9;
}

#about-content h1 {
    color: white;
    font-size: 45px;
    margin: 10px 0;
}

#about-content p {
    color: #b0aac0;
    font-size: large;
    margin: 10px 0;
    line-height: 30px;
}

#about-content button {
    padding: 15px 30px;
    margin: 20px 0;
    font-size: large;
    border-radius: 5px;
    cursor: pointer;
    background-color: #7371f9;
    color: white;
    border: none;
    font-weight: 700;
}

@media (max-width:940px) {
    #about>div {
        padding: 0 3%;
    }

    #about-img {
        margin-right: -70px;
    }

    #about-content h1 {
        font-size: 35px;
    }
}

@media (max-width:650px) {
    #about>div {
        flex-direction: column;
    }

    #about-img {
        margin: 50px 0 0 35%;
    }

    #about-content h1 {
        font-size: 30px;
    }

    #about-content p {
        margin: 10px 0;
        line-height: 23px;
    }

}

/* skills */

#technical-skills {
    background-color: #222222;
    padding: 2%;
}

.techSkillName {
    color: #7371f9;
    padding-top: 30px;
}

.skills {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-content: center;
    overflow: hidden;
    gap: 20px;
    margin: 5% 8%;
}

.skills>div>img {
    width: 60%;
    margin: auto;
}

.skills>div {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    background-color: #2a2a2a;
    color: #7371f9;
    font-size: 1.5rem;
    font-weight: 600;
    padding: 10%;
}

@media (max-width:940px) {
    .skills>div {
        font-size: 1rem;
    }
}


@media (max-width:650px) {
    #technical-skills {
        padding: 10% 2%;
    }

    .skills {
        grid-template-columns: repeat(2, 1fr);
    }

    .skills>div {
        font-size: 1.5rem;
    }
}

.techSkillName {
    margin: auto;
    text-align: center;
}

/* project */
#project {
    text-align: center;
    padding: 5% 15%;
    background-color: #2a2a2a;
}

.project_div {
    width: 95%;
    margin-top: 50px;
    margin: auto;
}

.project_div>div {
    display: flex;
    justify-content: center;
    margin: auto;
    margin-top: 20px;
    padding: 6px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.project_div>div>div:nth-child(1) {
    width: 50%;
}

.project_div>div>div:nth-child(2) {
    width: 50%;
}

.project_img {
    display: grid;
    justify-content: center;
    align-items: center;
}

.project_img>img {
    width: 100%;
    justify-content: center;
    align-items: center;
}

.project_discription {
    text-align: left;
    color: white;
}

.project_discription h3 {
    margin: 20px;
    color: #7371f9;
}

.project_discription h4 {
    margin: 10px;
    margin-left: 20px;
}

.features {
    display: flex;
    justify-content: space-between;
    font-size: small;
    margin-left: 20px;
    margin-top: 15px;
    width: 70%;
}

.techstack {
    display: grid;
    margin-left: 20px;
    grid-template-columns: repeat(4, 1fr);
}

.techstack>p {
    width: auto;
    margin: auto;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin-top: 8px;
    padding: 2px;
    width: 80%;
    text-align: center;
    color: #7371f9;
    margin-bottom: 1px;
}

.buttons {
    margin-left: 20px;
}

.buttons>button {
    margin: 20px 10px 10px 10px;
    padding: 5px 10px;
    border: none;
    border-radius: 3px;
    box-shadow: rgba(2, 2, 131, 0.25) 0px 13px 27px -5px, rgba(66, 12, 167, 0.3) 0px 8px 16px -8px;
    background-color: #7371f9;
    color: white;
    cursor: pointer;

}

.buttons>button:hover {
    scale: 1.03;
}


@media (max-width:940px) {
    .project_div>div {
        display: block;
    }

    .project_div>div>div:nth-child(1) {
        width: 99%;
    }

    .project_div>div>div:nth-child(2) {
        width: 99%;
    }

    .project_discription h3 {
        margin: 10px;
    }

    .project_discription h4 {
        margin: 5px;
        margin-left: 10px;
    }

    .project_discription p {
        margin: 5px;
        margin-left: 10px;
        font-size: small;
    }

}


@media (max-width:500px) {
    #project {
        width: 100%;
        padding: 0;
    }

    #project-content .techSkillName {
        padding-top: 30px;
    }

    .features {
        width: 100%;
    }
}

/* contact */
#contact {
    background-color: #222222;
    color: white;
    padding: 5% 10%;
}

.contacts {
    width: 50%;
}

#contact h3 {
    margin-bottom: 40px;
}

.contact-content {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.contacts h3 {
    display: flex;
    align-items: center;
    gap: 20px;
}

#contact h3>i {
    padding: 15px;
    background-color: #7371f9;
    border-radius: 50%;
}
#contact div>i{
    padding: 25px 10px;
}
#contact img {
    width: 50px;
    background-color: white;
    border-radius: 3px;
    margin: 10px;
    cursor: pointer;
}

#contactForm {
    padding: 10px;
}

.contact-form-container {
    background: transparent;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 50%;
}

.contact-form-container h2 {
    font-size: 24px;
    text-align: center;
}

.contact-form-container input,
.contact-form-container textarea {
    padding: 2.5%;
    border: 1px solid rgb(163, 161, 161);
    border-radius: 4px;
    font-size: medium;
    outline-color: #7371f9;
    margin: 7px;
    background-color: transparent;
    color: white;
}

.contact-form-container input {
    width: 40%;
}

.contact-form-container textarea {
    width: 89%;
}

.contact-form-container button {
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 15px;
    font-weight: 600;
    background-color:#7371f9;
    cursor: pointer;
    padding: 3% 5%;
    margin: 7px;
}

.contact-form-container button:hover {
    background-color:#6361fa;
}

#formMessage {
    margin-top: 15px;
    font-size: 16px;
    color: red;
    text-align: center;
}


@media (max-width:940px) {
    .contact-content {
        flex-direction: column;
    }
    #contact{
        padding: 2%;
    }
    .contact-form-container, .contacts {
        width: 100%;
    }
}


@media (max-width:450px) {
    .contact-form-container input {
        width: 90%;
    }
}


